@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    margin: 0;
  }

h1{
    text-align: center;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    height: 80vh;
    border-radius: 23px;
    margin:15px;
    /* padding: 12px; */
    cursor: pointer;
    flex:0.5;
    transition: flex 1s ease-in;
}

.panel h3{
    font-size: 25px;
    position: absolute;
    bottom: 55px;
    /* left: 100px; */
    color:white;
    text-align:center;
    /* background-color:black; */
    border-radius: 10px;
    opacity: 0;
}

.active{
    flex:5;
}

.active h3{
    opacity: 1;
    transition:opacity 0.3s ease-in 0.3s ;
}

@media(max-width:480px)
{
    .container{
        width: 100vw;
    } 
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}

